<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AuthenShop</title>
    <link rel="stylesheet" href="~/css/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/virb/css/styles-merged.css">
    <link rel="stylesheet" href="/virb/css/style.min.css">
    <link rel="stylesheet" href="/virb/css/custom.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header role="banner" class="probootstrap-header">
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="probootstrap-logo">JLS</a>

            <a href="#" class="probootstrap-burger-menu visible-xs"><i>Menu</i></a>
            <div class="mobile-menu-overlay"></div>

            <nav role="navigation" class="probootstrap-nav hidden-xs">
                <ul class="probootstrap-main-nav">
                    <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Clothes" asp-action="Index">Clothes</a></li>
                    <li><a asp-area="" asp-controller="Shoes" asp-action="Index">Shoes</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <ul class="probootstrap-right-nav hidden-xs">
                    <partial name="_LoginPartial" />
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-facebook2"></i></a></li>
                    <li><a href="#"><i class="icon-instagram2"></i></a></li>
                </ul>
                <div class="extra-text visible-xs">
                    <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
                    <h5>Account</h5>
                    <ul class="probootstrap-sub-nav">
                        <partial name="_LoginPartial" />
                    </ul>
                    <h5>Connect</h5>
                    <ul class="social-buttons">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook2"></i></a></li>
                        <li><a href="#"><i class="icon-instagram2"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main role="main" class="content pb-3">
        @RenderBody()
    </main>

    <footer class="probootstrap-footer probootstrap-bg">
        <div class="container">
            <div class="row mb60">
                <div class="col-md-3">
                    <div class="probootstrap-footer-widget">
                        <h4 class="heading">About Virb.</h4>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                        <p><a href="#">Read more...</a></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="probootstrap-footer-widget probootstrap-link-wrap">
                        <h4 class="heading">Quick Links</h4>
                        <ul class="stack-link">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Testimonial</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="probootstrap-footer-widget">
                        <h4 class="heading">More Links</h4>
                        <ul class="stack-link">
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Career</a></li>
                            <li><a href="#">Support Help</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="probootstrap-footer-widget">
                        <h4 class="heading">Subscribe</h4>
                        <p>Far far away behind the word mountains far from.</p>
                        <form action="#">
                            <div class="form-field">
                                <input type="text" class="form-control" placeholder="Enter your email">
                                <button class="btn btn-subscribe">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row copyright">
                <div class="col-md-6">
                    <div class="probootstrap-footer-widget">
                        <p>&copy; 2017 <a href="https://uicookies.com/">uiCookies:Virb</a>. Designed by <a href="https://uicookies.com/">uicookies.com</a> <br> Demo Photos from <a href="https://unsplash.com/">Unsplash</a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="probootstrap-footer-widget right">
                        <ul class="probootstrap-social">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-instagram2"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>
    <script src="~/virb/js/scripts.min.js"></script>
    <script src="~/virb/js/main.min.js"></script>
    <script src="~/virb/js/custom.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>